body {
    padding: 2%;
    font-family: Comic Sans MS;
    font-size: 16px;
}

label, input {
    color: cornflowerblue;
    font-weight: 600;
    font-size: 1.1em;
}

input[type="submit"] {
    width: 100px;
    height: 38px;
    border-radius: 5px;
    border: none;
    margin-top: 20px;
}