* { 
    font-family:'Times New Roman', Times, serif;
    font-size: 1rem;
    font-weight: bold;
}

h3 {
    color:rgb(144, 8, 255);
    border-bottom:1px solid rgb(144, 8, 255);
    width:36%;
}
label, input {
    color:Black;
    font-weight:bold;
    margin-left:5px;
    align-items: center;
}

body {
    background-color: GhostWhite;
}

table {
    align-items: center;
    display: block;
    margin-bottom: 20px;
    margin-left: 30px;
    width: 50%;
}

a {
    margin-left: 30px;
    height: 50px;
    width: 20%;
    border-radius: 10px;    
    font-size: 18px;
    align-items: center;
    text-decoration: none;
    color: black;
}

form {
    height: 40px;
    padding: 20px;
    font-size: 20px;
    font-family:'Courier New', Courier, monospace;
}